<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
  <title>REGISTER</title>
</head>

<body>
  <div class="container">
    <div class="label-wrap">
      <label for="" id="signup-label" style="font-size: 2rem; color: #0091ea; font-weight: bold">REGISTER ANNOUNCEMENT</label>
    </div>
      <div class="form-group row">
        <h1><%= err %></h1>
      </div>

  </div>
</body>

</html>